//
// Noto Sans
//

// Regular
@font-face {
    font-family: 'noto_sans';
    src: url('../../../fonts/Noto-Sans/notosans-regular-webfont.eot');
    src: url('../../../fonts/Noto-Sans/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Noto-Sans/notosans-regular-webfont.woff2') format('woff2'),
         url('../../../fonts/Noto-Sans/notosans-regular-webfont.woff') format('woff'),
         url('../../../fonts/Noto-Sans/notosans-regular-webfont.ttf') format('truetype'),
         url('../../../fonts/Noto-Sans/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Italic
@font-face {
    font-family: 'noto_sans';
    src: url('../../../fonts/Noto-Sans/notosans-italic-webfont.eot');
    src: url('../../../fonts/Noto-Sans/notosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Noto-Sans/notosans-italic-webfont.woff2') format('woff2'),
         url('../../../fonts/Noto-Sans/notosans-italic-webfont.woff') format('woff'),
         url('../../../fonts/Noto-Sans/notosans-italic-webfont.ttf') format('truetype'),
         url('../../../fonts/Noto-Sans/notosans-italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

// Bold
@font-face {
    font-family: 'noto_sans';
    src: url('../../../fonts/Noto-Sans/notosans-bold-webfont.eot');
    src: url('../../../fonts/Noto-Sans/notosans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Noto-Sans/notosans-bold-webfont.woff2') format('woff2'),
         url('../../../fonts/Noto-Sans/notosans-bold-webfont.woff') format('woff'),
         url('../../../fonts/Noto-Sans/notosans-bold-webfont.ttf') format('truetype'),
         url('../../../fonts/Noto-Sans/notosans-bold-webfont.svg#noto_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Bold Italic
@font-face {
    font-family: 'noto_sans';
    src: url('../../../fonts/Noto-Sans/notosans-bolditalic-webfont.eot');
    src: url('../../../fonts/Noto-Sans/notosans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Noto-Sans/notosans-bolditalic-webfont.woff2') format('woff2'),
         url('../../../fonts/Noto-Sans/notosans-bolditalic-webfont.woff') format('woff'),
         url('../../../fonts/Noto-Sans/notosans-bolditalic-webfont.ttf') format('truetype'),
         url('../../../fonts/Noto-Sans/notosans-bolditalic-webfont.svg#noto_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}





//
// Noto Serif
// 

// Regular
@font-face {
    font-family: 'noto_serif';
    src: url('../../../fonts/Noto-Serif/notoserif-regular-webfont.eot');
    src: url('../../../fonts/Noto-Serif/notoserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Noto-Serif/notoserif-regular-webfont.woff2') format('woff2'),
         url('../../../fonts/Noto-Serif/notoserif-regular-webfont.woff') format('woff'),
         url('../../../fonts/Noto-Serif/notoserif-regular-webfont.ttf') format('truetype'),
         url('../../../fonts/Noto-Serif/notoserif-regular-webfont.svg#noto_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Italic
@font-face {
    font-family: 'noto_serif';
    src: url('../../../fonts/Noto-Serif/notoserif-italic-webfont.eot');
    src: url('../../../fonts/Noto-Serif/notoserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Noto-Serif/notoserif-italic-webfont.woff2') format('woff2'),
         url('../../../fonts/Noto-Serif/notoserif-italic-webfont.woff') format('woff'),
         url('../../../fonts/Noto-Serif/notoserif-italic-webfont.ttf') format('truetype'),
         url('../../../fonts/Noto-Serif/notoserif-italic-webfont.svg#noto_serifitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

// Bold
@font-face {
    font-family: 'noto_serif';
    src: url('../../../fonts/Noto-Serif/notoserif-bold-webfont.eot');
    src: url('../../../fonts/Noto-Serif/notoserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Noto-Serif/notoserif-bold-webfont.woff2') format('woff2'),
         url('../../../fonts/Noto-Serif/notoserif-bold-webfont.woff') format('woff'),
         url('../../../fonts/Noto-Serif/notoserif-bold-webfont.ttf') format('truetype'),
         url('../../../fonts/Noto-Serif/notoserif-bold-webfont.svg#noto_serifbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Bold Italic
@font-face {
    font-family: 'noto_serif';
    src: url('../../../fonts/Noto-Serif/notoserif-bolditalic-webfont.eot');
    src: url('../../../fonts/Noto-Serif/notoserif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/Noto-Serif/notoserif-bolditalic-webfont.woff2') format('woff2'),
         url('../../../fonts/Noto-Serif/notoserif-bolditalic-webfont.woff') format('woff'),
         url('../../../fonts/Noto-Serif/notoserif-bolditalic-webfont.ttf') format('truetype'),
         url('../../../fonts/Noto-Serif/notoserif-bolditalic-webfont.svg#noto_serifbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}





//
// React Widgets
//
@font-face {
    font-family: 'RwWidgets';
    src: url('../../../fonts/React-Widgets/rw-widgets-webfont.eot');
    src: url('../../../fonts/React-Widgets/rw-widgets-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/React-Widgets/rw-widgets-webfont.woff2') format('woff2'),
         url('../../../fonts/React-Widgets/rw-widgets-webfont.woff') format('woff'),
         url('../../../fonts/React-Widgets/rw-widgets-webfont.ttf') format('truetype'),
         url('../../../fonts/React-Widgets/rw-widgets-webfont.svg#RwWidgets') format('svg');
    font-weight: normal;
    font-style: normal;
}





//
// Icon Font
//
@font-face {
    font-family: 'icomoon';
    src:url('../../../fonts/Icomoon/icomoon.eot?h1s0ej');
    src:url('../../../fonts/Icomoon/fonts/icomoon.eot?h1s0ej#iefix') format('embedded-opentype'),
        url('../../../fonts/Icomoon/fonts/icomoon.ttf?h1s0ej') format('truetype'),
        url('../../../fonts/Icomoon/fonts/icomoon.woff?h1s0ej') format('woff'),
        url('../../../fonts/Icomoon/fonts/icomoon.svg?h1s0ej#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}