.RichEditor-root {
  background: $input-bg;
  border: $border-width solid $input-border;
  padding: $input-padding-y $input-padding-x;
  border-radius: $input-border-radius;
}

.RichEditor-editor {
  border-top: $border-width solid $input-border;
  cursor: text;
}

.DraftEditor-root {
    position: relative;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  padding: $input-padding-y 0;
}

.public-DraftEditorPlaceholder-root {
    color: $input-color-placeholder;
    position: absolute;
    z-index: 0;
}

.DraftEditor-editorContainer {
    position: relative;
    z-index: 1;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid $gray-lighter;
  font-style: italic;
  margin: $spacer 0;
  padding: $half-spacer $spacer;
}

.RichEditor-controls {
  user-select: none;
  margin-bottom: $half-spacer;
}

.RichEditor-root--disabled {
    background: $input-bg-disabled;
    cursor: $cursor-disabled;

    & .RichEditor-editor {
        cursor: $cursor-disabled;
    }

     & .RichEditor-controls {
        display: none;
     }
}
