// include framework files
@import 'framework/framework';

#app {
	padding: $spacer;
}

.logo {
	display: block;
	margin: 0 auto $spacer;
}

.box {
	border: $border-width solid $base-border-color;
	padding: $spacer;
	border-radius: $border-radius;
	background-color: $gray-lightest;
}

.status {
	display: inline-block;
	width: $spacer;
	height: $spacer;
	margin: 0 $half-spacer;
	border-radius: 50%;
}

.status--online {
	background-color: $brand-success;
}

.status--offline {
	background-color: $brand-danger;
}